{% macro opengraph() %}
{%- if current_path and current_path == "/" -%}
    <meta property="og:title" content="{{ config.title }}">
{% elif current_path -%}
    {%- set og_title = page.title | default(value=section.title | default(value=config.title)) -%}
    <meta property="og:title" content="{{ og_title | safe }}">
{% endif -%}
{%- if page -%}
    <meta property="og:type" content="article">
{% else -%}
    <meta property="og:type" content="website">
{% endif -%}
{%- if current_url -%}
    {%- set og_permalink = page.permalink | default(value=current_url) -%}
    <meta property="og:url" content="{{ og_permalink | safe }}">
{% endif -%}
{%- if page.description -%}
    {%- set og_summary = page.description | markdown(inline=true) | striptags -%}
{% elif page.summary -%}
    {%- set og_summary = page.summary | linebreaksbr | replace(from="<br>", to=" ") | striptags -%}
{% else -%}
    {%- set og_summary = section.description | default(value=config.description | default(value="")) | markdown(inline=true) | striptags -%}
{% endif -%}
<meta property="og:description" content="{{ og_summary }}">
<meta property="og:site_name" content="{{ config.title }}">
{%- if page.date -%}
    <meta property="article:published_time" content="{{ page.date | date(format='%+') }}">
{%- endif -%}
{%- if page.updated -%}
    <meta property="article:modified_time" content="{{ page.updated | date(format='%+') }}">
{%- endif -%}
{%- if page.taxonomies and page.taxonomies.tags -%}
    {%- for tag in page.taxonomies.tags -%}
        <meta property="article:tag" content="{{ tag }}">
    {%- endfor -%}
{%- endif -%}
{% endmacro %}
